.App {  
  /* margin: 2em; */
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

